#navDropdown {
	right: 0;
}

#placeholder {
	width: 100%;
	height: 39px;
}
.topic_btn {
    background-color: #555555; /* Black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
}