{% extends "layout.html" %}
{% block body %}

      <div class="container">
        <div class="row">
            <div class="panel-body">
              <h1>Random_user's Profile</h1>
              <div class="col-sm-4">
                <a href="{{ url_for('changePassword') }}">Change password</a>
              </div>
              <div class="col-sm-4">
                <div class="profile_pic">
                  <img src="" alt="" />
                </div>
                <div class="bio">
                      Don't follow me, im doing this ironically
                </div>
                <button id="follow" type="button" class="btn btn-primary" name="Follow" onclick="">Follow</button>
              </div>
              <div class="col-sm-4">
                <div class="profile_stats">
                  <label id="upvotes" for="upvotes">upvotes</label>
                  <br>
                  <label id="downvotes" for="downvotes">downvotes</label>
                  <br>
                  <label id = "followers" for="followers">followers</label>
                  <br>
                  <label id = "following "for="following">following</label>

                </div>
              </div>
            </div>
        </div>

      </div>

{% endblock %}