{% extends "layout.html" %}
{% block body %}
	<!-- main content -->
<div class="w3-container w3-half w3-round-xlarge w3-display-middle">
		<form class="w3-container w3-card-4" id = "add_question_form" class="form" action="{{ url_for('add_question') }}" method="post">
		
			<textarea class="w3-margin" rows="4" cols="50" name="add_question_box" form="add_question">
			Enter text here...</textarea>
			
			<button type="submit" class="w3-button w3-section w3-red w3-ripple"> Ask Question </button>
		</form>
</div>


{% endblock %}