{% extends "layout.html" %}
{% block body %}
<script>
	function myFunction() {
    var x = document.getElementById("Demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
<div class="w3-container">
<div style="display:none" id="topics">
{% for topic in topics %}
{{ topic.name}},
{% endfor %}
</div>
	<div class="w3-container w3-half w3-round-xlarge w3-display-middle" >
		
		
			<h2 class="w3-left-align">Topic: </h2>
			<div class="w3-container">
  <div class="w3-dropdown-click" style = "float:right ">
    <button onclick="myFunction()" class="w3-button w3-black">Click Me!</button>
    <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
<input class="w3-check" type="checkbox" checked="checked">
      <label>News</label></p>
      <p>
      <input class="w3-check" type="checkbox">
      <label>Games</label></p>
      <p>
      <input class="w3-check" type="checkbox" >
      <label>Friends</label></p>
      <p>
      <input class="w3-check" type="checkbox" >
      <label>Food</label></p>
      <p>
      <input class="w3-check" type="checkbox" >
      <label>Art</label></p>
	
    </div>
</div>
</div>
<form class="w3-container w3-card-4" id = "add_question_form" class="form" action="{{ url_for('add_question') }}" method="post">
			<textarea class="w3-input w3-border" rows="4" cols="50" name="add_question_box" form="add_question" resize="none" placeholder="Ask your question"></textarea>
			
			<button type="submit" class="w3-button w3-section w3-red w3-ripple"> Ask Question </button>
		</form>
</div>
{% endblock %}
