{% extends "layout.html" %}
{% block body %}
<div class="w3-container w3-half w3-round-xlarge w3-display-middle">	
    <form class="w3-container w3-theme-l3 w3-card-4 w3-round" id = "forgot_form" class="form" action="/" method="post">
       
        <h2 class="w3-center">Change Password here</h2>
       
        <label>Current password :</label><br>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fas fa-lock"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="psw" type="password" placeholder="•••••••••" required>
            </div>
        </div>
        <label>New Password :</label><br>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fas fa-lock"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="new_psw" type="password" placeholder="•••••••••" required>
            </div>
        </div>
        <br>
        <button type="submit" class="w3-button w3-section w3-theme-d1 w3-ripple"> Submit </button>     
    </form>
</div>
{% endblock %}
