{% extends "layout.html" %}
{% block body %}

<div class="w3-panel w3-twothird">
	<div class="w3-container w3-red">
		<h1 class="w3-center">Questions</h1>
		
		<!-- maybe add sort by dropdown (ajax) -->
	</div>
	
	<!-- show questions -->
	{% include "show_questions.html" %}
	<!-- might be difficult, needs answers as well, but will show question, maybe show answer of person you're following and have title explaining relation -->
</div>

<div class="w3-panel w3-third">
	<div class="w3-container w3-red">
		<h1 class="w3-center">Topics</h1>
    <div class="btn-group-vertical">
      <button type="button" class="topic_btn">Life</button>
      <br>
      <button type="button" class="topic_btn">School</button>
      <br>
      <button type="button" class="topic_btn">Taxes</button>
      <br>
      <button type="button" class="topic_btn">Music</button>
      <br>
      <button type="button" class="topic_btn">Gaming</button>
    </div>
	</div>
	
	<!-- show topics, first followed topics, then other topics, differentiating between the 2 -->
	
	<div class="w3-container w3-red">
		<h1 class="w3-center">Suggested People</h1>
	</div>
	
	<!-- show suggested by people -->
</div>

{% endblock %}