{% extends "layout.html" %}
{% block body %}

<div class="w3-panel w3-twothird">
	<div class="w3-card w3-margin-bottom ">
		<div class="w3-container w3-theme-d1">
			<div class="w3-container w3-cell">
				<h2>Questions</h2>
			</div>
			<!-- maybe add sort by dropdown (ajax) -->
			<div class="w3-container w3-cell w3-cell-middle">
				{% if session.username %}
				<select class="w3-select" name="from">
					
					<option value="users">Users</option>
					<option value="topics">Topics</option>
					<option value="main">Others</option>
				</select>
				<select class="w3-select" name="qa">
					<option value="qa">Q & A</option>
					<option value="q">Questions</option>
					<option value="a">Answers</option>
				</select>
				{% endif %}
				<select class="w3-select" name="order">
					<option value="Time">Most Recent</option>
					<option value="Upvote">Most Upvoted</option>
				</select>
				<select class="w3-select" name="amount">
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
				<input id="loggedin" value="{{ session.username }}" type="hidden">
				<button id="update" class="w3-button w3-light-gray w3-round">Update</button>
			</div>
		</div>

		</div>
	<div id="show_questions" class="w3-container"></div>
</div>

<div class="w3-panel w3-third">
	<div class="w3-card w3-margin-bottom">
		<div class="w3-container w3-theme-d1">
			<h2>Topics</h2>
		</div>
		
		<!-- show topics, first followed topics, then other topics, differentiating between the 2 -->
		<div id="show_topics" class="w3-container container"></div>
	</div>
	
	{% if session.username %}
	<div class="w3-card w3-margin-bottom">
		<div class="w3-container w3-theme-d1">
			<h2>Suggested People</h2>
		</div>
		<!-- show suggested by people -->
		<div id="show_suggestions" class="w3-container container"></div>
	</div>
    
    <div class="w3-card w3-margin-bottom">
		<div class="w3-container w3-theme-d1">
			<h2>Bookmarked Questions</h2>
		</div>
		<!-- show questions user has bookmarked -->
		<div id="show_bookmarked" class="w3-container container"></div>
        
	</div>
	{% endif %}
</div>

{% endblock %}
