{% extends "layout.html" %}
{% block body %}
<!-- Login page-->
<div class="w3-container w3-half w3-round-xlarge w3-display-middle">	
    <form class="w3-container w3-card-4" id = "loginform" class="form" action="{{ url_for('login') }}" method="post">
        <u><h2 class="w3-center">Welcome</h2></u>
        
        <label>Username :</label><br> 
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="username" type="text" placeholder="John Doe" required>
            </div>
        </div>
            
        <label>Password :</label><br>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-lock"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="psw" type="password" placeholder="•••••••••" required>
            </div>
        </div>
        
        <span class="fa fa-repeat w3-right w3-hide-small w3-padding-4" style="width:100%">reset <a href="{{ url_for('forgotPassword') }}">password?</a></span>
        <br>
        <button type="submit" class="w3-button w3-section w3-red w3-ripple"> Log in </button>
        
        <a href="{{ url_for('register') }}" class="w3-right w3-button w3-section w3-red w3-ripple"> Register </a>
        
    </form>
</div>
{% endblock %}
