{% extends "layout.html" %}
{% block body %}
<!-- Login page-->
<div class="w3-container w3-half w3-round-xlarge w3-display-middle">	
    <form class="w3-container w3-card-4">
        
        <p><label>Username</label>   
        <input class="w3-input" type="text" style="width:100%" name="username" placeholder="Username..." required></p>
            
        <p><label>Password</label>
        <input class="w3-input" type="password" style="width:100%" name="psw" placeholder="Password..." required></p>
      
        <p><button class="w3-button w3-section w3-red w3-ripple"> Log in </button></p>
    </form>
</div>
{% endblock %}