{% extends "layout.html" %}
{% block body %}

      <div class="container">
          <div class="row">
              <div class="panel-body">
                <h1>Profile Page</h1>
                <div class="col-sm-4">
                  <a href="Changepsw.html">Change password</a>
                </div>
                <div class="col-sm-4">
                  <div class="profile_pic">
                      <input id="image" type="file" name="profile_photo" placeholder="Upload Profile" required="" capture><br>
                  </div>
                  <div class="bio">
                        I like answering questions. I also like asking questions
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="profile_stats">
                    <label id="upvotes" for="upvotes">upvotes</label>
                    <br>
                    <label id="downvotes" for="downvotes">downvotes</label>
                    <br>
                    <label id = "followers" for="followers">followers</label>
                    <br>
                    <label id = "following "for="following">following</label>

                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="Answers">
              <h3>Answers from people and topics you follow</h3>
              <label for="dropdown">Order by :</label>
                <select>

                    <option value=""></option>
                    <option value="upvotes">Most upvotes</option>
                    <option value="recent">Most recent</option>
                </select>
              <div class="panel-body">
                <h4>Taxes</h4> Don't do do them. It's theft <br>

              </div>
              <div class="panel-body">
                <h4>School</h4> Don't go it's a scam. <br>

              </div>
              <div class="panel-body">
                <h4>Music</h4> Everyone who mattered is dead anyway <br>

              </div>
              <div class="panel-body">
                <h4>Science</h4> Did you mean conspiracy theorists? <br>

              </div>
            </div>
          </div>
          </div>
      </div>

{% endblock %}
