{% extends "layout.html" %}
{% block body %}
{% for question in question %}
	<div class="w3-panel w3-card w3-padding">
		<div class="w3-container w3-cell-row">
			<div class="w3-container w3-cell">
				Topics: 
				{% for topic in question.topics %}
				<a href="{{ url_for('topic', topic=topic.name) }}"><div class="tag w3-tag w3-round w3-orange w3-margin-small w3-padding-small">{{ topic.name }} <span class="w3-tag w3-round w3-deep-orange">{{ topic.rank }}</span></div></a>
				{% endfor %}
			</div>
			<div class="w3-container w3-cell w3-right-align">
				Asked by: {{ question.askedby }}
			</div>
			<div class="w3-container w3-cell w3-right-align">
				<a href="{{ url_for('bookmark', question=question.id) }}">bookmark</a>
			</div>
		</div>
		<div class="w3-container">
			<h2>{{ question.text }}</h2>
		</div>
		<div class="w3-container w3-cell-row">
			<div class="w3-container w3-cell">
					{{ question.answers }} Answers 
				[{{ question.upvote }} upvotes]
			</div>
			<div class="w3-container w3-cell w3-right-align">
				{{ question.timestamp | ctime }}
			</div>
		</div>
		
		{% for answer in answers %}
		<div class="w3-panel w3-card">
			<div class="w3-container w3-half">
				Answer by {{ answer.username }}
			</div>
			<div class="w3-container w3-half w3-right-align">
				Upvotes: {{ answer.upvotes }}
				<br>
				On: {{ answer.timestamp | ctime }}
			</div>
			<div class="w3-container">
				{{ answer.text }}
			</div>
			<a href="{{ url_for('upvote', answer=answer.id) }}">
				Upvote Answer
			</a>
		</div>
		{% endfor %}
		<a href="{{ url_for('add_answer', question=question.id) }}" class="w3-button w3-theme">Add Answer</a>
	</div>
{% endfor %}
{% endblock %}