{% extends "layout.html" %}
{% block body %}
<div class="w3-container w3-half w3-round-xlarge w3-display-middle">	
    <form class="w3-container w3-theme-l3 w3-card-4 w3-round" id = "register_form" class="form" action="{{ url_for('register') }}" method="post">
       
        <h2 class="w3-center">Registration Page</h2>
        
        <label>Username :</label><br> 
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fas fa-user"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="username" type="text" placeholder="John Doe" required>
            </div>
        </div>
            
        <label>Password :</label><br>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fas fa-lock"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="psw" type="password" placeholder="•••••••••" required>
            </div>
        </div>
        
        <label>Email :</label><br>
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fas fa-envelope"></i></div>
            <div class="w3-rest">
                <input class="w3-input w3-border" name="email" type="text" placeholder="example@gmail.com" required>
            </div>
        </div>
        
        <br>
        <button type="submit" class="w3-button w3-section w3-theme-d1 w3-ripple"> Register </button>     
    </form>
    
    <p>Already have an account? <a href="{{ url_for('login') }}">Sign in</a>.</p>
</div>
{% endblock %}