{% extends "layout.html" %}
{% block body %}

    <div class="w3-container w3-quarter w3-round-xlarge ">
        </div>
<div class="w3-container w3-half w3-round-xlarge ">
    <u><h2 class="w3-center">User List</h2></u>
  <p class="w3-center">You can click on the link to follow a users :</p>
  
  <ul class="w3-ul">
      {% for usernames in list_usernames %}
    <form class="w3-panel" id = "forgot_form" class="form" action="{{ url_for('follow_user') }}" method="get"> 
    <li class="w3-bar w3-card-4 w3-theme-d1">
     
          <button type="submit" onclick="this.parentElement.style.display='none';follow('{{usernames.user.username}}')" 
                  class="w3-bar-item w3-button w3-white w3-xlarge w3-right " >Follow</button>
      <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
      <div class="w3-bar-item">

         
          <span class="w3-large" name ="" >{{ usernames.user.username }}</span><br>
        <span>Email : {{ usernames.user.email }}</span><br>
        <span>Bio : {{ usernames.user.bio }}</span>
   
          <input class="w3-input w3-border" name="username" type="text"  value="{{ usernames.user.username }}">
      </div>
    </li>
        
    </form>     
 

{% endfor %}
  </ul>
    
</div>
{% endblock %}